<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHOAMI | Abxar</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}About{% endblock %}
    {% block content %}
    <h3>WHO AM I ?</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id pariatur, aspernatur temporibus hic recusandae repellat, suscipit voluptatum nemo obcaecati natus ratione nihil at ut asperiores non. Eos dicta assumenda at? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis tempora voluptates atque quia quibusdam? Mollitia fuga officia culpa, porro aut blanditiis sed odit facere doloremque. Beatae, accusamus! Cupiditate, quidem rerum!</p>
    {% endblock %}  
</body>
</html>