<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Abxar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Projects{% endblock %}
    {% block content %}
    <a href="http://127.0.0.1:5001/">
        <img src="/static/images/userfeedback.jpg" alt="feedback.jpg" title="Feedbacks" id="feedimg">
    </a>
    {% endblock %}
    
</body>
</html>