<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GETTER</title>
</head>
<body>
    <h3 style="align-content: center;">GET / POST METHODS EXPLAINED</h3>
    {% extends "base.html" %}
    {% block title %}HOMEPAGE{% endblock %}
    {% block content %}{% endblock %}
    <h5>I KNOW THESE SKILLS </h5>
    <ol>
        {% for t in tech %}
        <li>{{ t }}</li>
        {% endfor %}
    </ol>
    <a href="/go">JSONFIED PAGE</a>
    <a href=" {{ url_for('sidequest', user=user) }} ">SIDE QUEST MAIN PAGE</a>
</body>
</html>