<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h3>Hi</h3>
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde ab impedit quas sed. Minima nihil velit impedit iusto, odit excepturi tenetur in voluptas voluptate nemo, alias blanditiis mollitia similique tempore?</p>
</body>
</html>