body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin-top: 50px;

}

h1 {
    color: #007BFF
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

p {
    color: violet;
}