<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="/Day2/static/style.css">
</head>
<body>
    <h2>Feedback Form</h2>
    <p id="paralorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eum nihil consectetur quod voluptatibus, dolorem in totam alias sint, voluptatem vel, obcaecati facilis porro quo quam aut omnis animi doloribus?</p>
    <input type="text" >

</body>
</html>